---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allPosts = await getCollection("blog");
---

<Layout title="Welcome to Astro.">
  <main class="contents">
    <h1 class="font-bebasNeue text-white text-8xl col-start-1 col-span-4 mb-5">
      Andreas Klumpp
    </h1>
    <span class="col-span-8"></span>
    {
      allPosts.map((post) => (
        <a
          class="font-roboto col-span-4 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-lg shadow-gray-600 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          href={"/blog/" + post.slug}
        >
          <h2 class="font-roboto font-bold">{post.data.title}</h2>
          <p class="font-roboto mt-4">{post.data.excerpt}</p>
        </a>
      ))
    }
  </main>
</Layout>
